

<!-- section start -->
<section class="section-b-space">
  <div class="container">
    <div class="row">
      <!-- MENU -->
      <div class="col-lg-3">
        <!-- <app-menu-cuenta></app-menu-cuenta> -->
        <img class="rounded mx-auto d-block m-3" [src]="qr" width="180px" height="180px"
        style="border: 3px black solid;">
      </div>

      <!-- INFORMACIÓN DE PRODUCTOS -->
      <div class="col-lg-9">
        <div class="contact-page register-page">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h3>Información de productos</h3>
                <form class="theme-form" [formGroup]="formProducto">

                  <!-- IMAGEN -->
                  <label for="imagen">Imagen</label>
                  <div class="form-control">
                    <a class="icon mr-4 action uploadIcon" style="font-size: 20px;">
                      <i class="ti-image " style="color: rgb(35, 197, 197);"> Carga tu imagen</i>
                    </a>
                    <input type="file" class="uploadImg" (change)=onChange($event) accept="image/*">
                  </div>

                  <img *ngIf="img" class="rounded mx-auto d-block m-3" [src]="img" width="180px" height="150px"
                    style="border: 3px aqua solid;" alt="img">

                  <div class="form-row">
                    <!-- NOMBRE -->
                    <div class="col-md-6">
                      <label for="nombre">Nombre <span class="obli">*</span></label>
                      <input type="text" class="form-control" id="nombre" placeholder="Ingresa el nombre del producto"
                        formControlName="nombre" required="">
                    </div>
                    <!-- PRECIO -->
                    <div class="col-md-6">
                      <label for="precio">Precio <span class="obli">*</span></label>
                      <input type="number" class="form-control" id="precio" placeholder="Ingresa el precio del producto"
                        formControlName="precio" required="" [value]="formProducto.get('precio').value">
                    </div>
                    <!-- CATEGORIAS PRODUCTO -->
                    <div class="col-md-6 select_input">
                      <label for="categoria">Categoría del producto <span class="obli">*</span></label>
                      <ngx-select-dropdown formControlName="categorias" [multiple]="true" [config]="config"
                        [options]="listaCategorias" required>
                      </ngx-select-dropdown>
                    </div>
                    <!-- DISPONIBLE -->
                    <div class="col-md-6 select_input">
                      <label for="disponible">Disponible <span class="obli">*</span></label>
                      <select class="form-control" style="padding: 15px;" formControlName="disponible" size="1"
                        required>
                        <option disabled selected value>Selecciona si el producto será visible al publico.</option>
                        <option value="true">
                          Sí
                        </option>
                        <option value="false">
                          No
                        </option>
                      </select>
                    </div>
                    <!-- DESCRIPCIÓN -->
                    <div class="col-md-12">
                      <label for="review">Descripción <span class="obli">*</span></label>
                      <textarea class="form-control mb-0" formControlName="descripcion" required=""
                        placeholder="Ingresa la descripción de tu producto - ¨¿De qué está hecho?¨ - ¨¿Qué tipo de calidad tiene?¨"
                        rows="4"></textarea>
                    </div>
                  </div>

                  <div class="row btn-negocios" style="margin-top: 30px;">
                    <!-- GUARDAR -->
                    <div *ngIf="!idProducto" class="col-md-6 btn-negocio">
                      <button class="btn btn-sm btn-solid btn-green" type="submit" (click)="guardarDatos()">Guardar
                        datos</button>
                    </div>
                    <!-- ACTUALIZAR -->
                    <div *ngIf="idProducto" class="col-md-6 btn-negocio">
                      <button class="btn btn-sm btn-solid btn-green" type="submit"
                        (click)="actualizarDatos()">Actualizar datos</button>
                    </div>
                    <!-- LIMPIAR -->
                    <div class="col-md-6 btn-negocio">
                      <button class="btn btn-sm btn-solid btn-yellow" style="float: right;"
                        (click)=limpiar()>Limpiar</button>

                    </div>
                    <h3 class="mt-4">Mis productos</h3>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- TABLA NEGOCIOS -->
<section class="wishlist-section section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 table-negocio" style="overflow-x:auto;">
        <table class="table cart-table table-responsive-xs">
          <thead>
            <tr class="table-head">
              <th scope="col">Imagen</th>
              <th scope="col">Nombre</th>
              <th scope="col">Precio</th>
              <th scope="col">Disponible</th>
              <th scope="col">Descripción</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of listProductos">
              <!-- IMAGEN -->
              <td>
                <a>
                  <img [src]="producto.imagen_64">
                </a>
              </td>
              <!-- NOMBRE -->
              <td style="max-width: 1px; word-wrap: break-word;">
                <p>
                  {{producto.nombre}}
                </p>
              </td>
              <!-- PRECIO -->
              <td style="max-width: 1px; word-wrap: break-word;">
                <p>
                  {{producto.precio | number}}
                </p>
              </td>
              <!-- DISPONIBLE -->
              <td style="max-width: 1px; word-wrap: break-word;">
                <p>
                  {{producto.disponible | siNo}}
                </p>
              </td>
              <!-- DESCRIPCIÓN -->
              <td style="max-width: 1px; word-wrap: break-word;">
                <p>
                  {{producto.descripcion}}
                </p>
              </td>
              <!-- ACCIONES -->
              <td>
                <a class="icon mr-4 action" style="font-size: 20px;">
                  <i class="ti-close" style="color: red;"></i>
                </a>
                <a class="cart action" style="font-size: 20px;" (click)="cargarDatos(producto.id)">
                  <i class="ti-pencil" style="color: orange;"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
