<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Pedidos</h5>
                </div>
                <div class="card-body">
                    <div class="custom-datatable">
                        <input type='text' class="filter-ngx form-control" placeholder='Buscar...'
                            (keyup)='updateFilter($event)' />
                        <ngx-datatable class="bootstrap" [rows]="pedidos" [columnMode]="'force'" [headerHeight]="50"
                            [footerHeight]="50" [rowHeight]="'auto'" [limit]="5">
                            <ngx-datatable-column prop="id"></ngx-datatable-column>
                            <ngx-datatable-column prop="estado"></ngx-datatable-column>
                            <ngx-datatable-column prop="metodo_pago"></ngx-datatable-column>
                            <ngx-datatable-column prop="fecha_creacion"></ngx-datatable-column>
                            <ngx-datatable-column prop="valor_total"></ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->