<app-breadcrumb [title]="'Perfil'" [breadcrumb]="'Perfil'"></app-breadcrumb>

<!-- section start -->
<section class="section-b-space">
  <div class="container">
    <div class="row">
      <!-- MENU -->
      <div class="col-lg-3">
        <app-menu-cuenta></app-menu-cuenta>
      </div>

      <!-- INFORMACIÓN DE LA CUENTA -->
      <div class="col-lg-9">
        <div class="contact-page register-page">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h3>Información de la cuenta</h3>
                <form class="theme-form" [formGroup]="formCuenta">
                  <div class="form-row">
                    <!-- NOMBRE -->
                    <div class="col-md-6">
                      <label for="nombre">Nombre</label>
                      <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre"
                        formControlName="nombre" required="">
                    </div>
                    <!-- APELLIDO -->
                    <div class="col-md-6">
                      <label for="apellido">Apellido</label>
                      <input type="text" class="form-control" id="apellido" placeholder="Ingresa tu apellido"
                        formControlName="apellido" required="">
                    </div>
                    <!-- Correo -->
                    <div class="col-md-6">
                      <label for="correo">Correo</label>
                      <input type="text" class="form-control" id="correo" placeholder="Ingresa tu correo"
                        formControlName="correo" required="" disabled>
                    </div>
                    <!-- Contraseña -->
                    <div class="col-md-6">
                      <label for="passw">Contraseña</label>
                      <input type="password" class="form-control" id="passw" placeholder="Ingresa tu contraseña"
                        formControlName="passw" required="" autocomplete="on">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- DETALLES PERSONALES -->
        <div class="contact-page register-page section-b-space">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h3>Detalles personales</h3>
                <form class="theme-form" [formGroup]="formUsuario">
                  <div class="form-row">
                    <!-- Dirección -->
                    <div class="col-md-6">
                      <label for="direccion">Dirección</label>
                      <input type="text" class="form-control" id="direccion" placeholder="Ingresa tu dirección"
                        formControlName="direccion" required="">
                    </div>
                    <!-- Número de identificación -->
                    <div class="col-md-6">
                      <label for="identificacion">Número de identificación</label>
                      <input type="number" class="form-control" id="identificacion"
                        placeholder="Ingresa tu número de identificación" formControlName="identificacion" required="">
                    </div>
                    <!-- Número de contacto -->
                    <div class="col-md-6">
                      <label for="telefono">Número de contacto</label>
                      <input type="number" class="form-control" id="telefono"
                        placeholder="Ingresa tu número de contacto" formControlName="telefono" required="">
                    </div>

                    <!-- ACTUALIZAR -->
                    <div class="col-md-12">
                      <button class="btn btn-sm btn-solid btn-perfil" type="submit"
                        (click)="actualizarDatos()">Actualizar datos</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
