<!-- <app-breadcrumb [title]="'Perfil'" [breadcrumb]="'Perfil'"></app-breadcrumb> -->

<!-- section start -->
<section class="section-b-space">
  <div class="container">
    <div class="row">

      <div class="col-lg-9">
        <div class="contact-page register-page">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h3>Información de la cuenta</h3>
                <h6>Necesitarás ingresar tu contraseña para realizar algún cambio <span class="info">*</span></h6>
                <form class="theme-form" [formGroup]="formCuenta">
                  <div class="form-row">
                    <!-- NOMBRE -->
                    <div class="col-md-6">
                      <label for="nombre">Nombre <span class="obli">*</span></label>
                      <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre"
                        formControlName="nombre" required="">
                    </div>
                    <!-- APELLIDO -->
                    <div class="col-md-6">
                      <label for="apellido">Apellido <span class="obli">*</span></label>
                      <input type="text" class="form-control" id="apellido" placeholder="Ingresa tu apellido"
                        formControlName="apellido" required="">
                    </div>
                    <!-- Correo -->
                    <div class="col-md-6">
                      <label for="correo">Correo <span class="obli">*</span></label>
                      <input type="text" class="form-control" id="correo" placeholder="Ingresa tu correo"
                        formControlName="correo" required="" disabled>
                    </div>
                    <!-- Contraseña -->
                    <div class="col-md-6">
                      <label for="passw">Contraseña <span class="obli">*</span></label>
                      <input type="password" class="form-control" id="passw" placeholder="Ingresa tu contraseña"
                        formControlName="passw" required="" autocomplete="on">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- DETALLES PERSONALES -->
        <div class="contact-page register-page section-b-space">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h3>Detalles personales</h3>
                <form class="theme-form" [formGroup]="formUsuario">
                  <div class="form-row">
                    <!-- Dirección -->
                    <div class="col-md-6">
                      <label for="direccion">Dirección <span class="obli">*</span></label>
                      <input type="text" class="form-control" id="direccion" placeholder="Ingresa tu dirección"
                        formControlName="direccion" required="">
                    </div>
                    <!-- Número de contacto -->
                    <div class="col-md-6">
                      <label for="telefono">Número de contacto <span class="obli">*</span></label>
                      <input type="number" class="form-control" id="telefono"
                        placeholder="Ingresa tu número de contacto" formControlName="telefono" required="">
                    </div>
                    <!-- Número de identificación -->
                    <div class="col-md-6">
                      <label for="identificacion">Número de identificación <span class="obli">*</span></label>
                      <input type="number" class="form-control" id="identificacion"
                        placeholder="Ingresa tu número de identificación" formControlName="identificacion" required="">
                    </div>
                    <!-- Tipo de identificación -->
                    <div class="col-md-6 select_input">
                      <label for="review">Tipo de identificación <span class="obli">*</span></label>
                      <select class="form-control" style="padding: 15px;"  formControlName="TipoIdentificacion" size="1" required>
                        <option *ngFor="let tipoIden of listTipoIdentificacion" value="tipoIden.id">
                          {{tipoIden.descripcion}}
                        </option>
                      </select>
                    </div>
                    <!-- ACTUALIZAR -->
                    <div class="col-md-12">
                      <button class="btn btn-primary" type="submit"
                        (click)="actualizarDatos()"><app-feather-icons [icon]="'edit'"> </app-feather-icons> Actualizar datos</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
