<app-breadcrumb [title]="'Pre Factura'" [breadcrumb]="'Compra'"></app-breadcrumb>
<section class="section-b-space">
    <div class="container padding-cls">
        <div class="checkout-page">
            <div class="checkout-form">
                <form>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <div class="checkout-title">
                                <h3>Detalles de facturación</h3>
                            </div>
                            <div class="row check-out">
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Nombre</div>
                                    <input type="text" name="firstname" [(ngModel)]="pedidoVentaOnline.usuario.nombre"
                                        [formControl]="checkoutForm.controls['firstname']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.firstname.touched && checkoutForm.controls.firstname.errors?.required"
                                        class="text text-danger">
                                        El nombre es requerido.
                                    </div>
                                    <div *ngIf="checkoutForm.controls.firstname.touched && checkoutForm.controls.firstname.errors?.pattern"
                                        class="text text-danger">
                                        First Name must be an alphabates.
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Apellido </div>
                                    <input type="text" name="lastname" [formControl]="checkoutForm.controls['lastname']" [(ngModel)]="pedidoVentaOnline.usuario.apellido"
                                        value=""  placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.lastname.touched && checkoutForm.controls.lastname.errors?.required"
                                        class="text text-danger">
                                        El apellido es requerido
                                    </div>
                                    <div *ngIf="checkoutForm.controls.lastname.touched && checkoutForm.controls.lastname.errors?.pattern"
                                        class="text text-danger">
                                        Last Name must be an alphabates.
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Telefono</div>
                                    <input type="number" name="phone" [formControl]="checkoutForm.controls['phone']" [(ngModel)]="pedidoVentaOnline.usuario.celular"
                                        value=""  placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.phone.touched && checkoutForm.controls.phone.errors?.required"
                                        class="text text-danger">
                                        El celular es requerido.
                                    </div>

                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Email</div>
                                    <input type="text" name="email" [formControl]="checkoutForm.controls['email']"
                                        value="" [(ngModel)]="pedidoVentaOnline.usuario.email" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.email.touched && checkoutForm.controls.email.errors?.required"
                                        class="text text-danger">
                                        EL email es requerido
                                    </div>
                                    <div *ngIf="checkoutForm.controls.email.touched && checkoutForm.controls.email.errors?.email"
                                        class="text text-danger">
                                        Email invalido
                                    </div>
                                </div>
                                <!-- <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">Departamento</div>
                                    <select name="department" [formControl]="checkoutForm.controls['department']">
                                        <option *ngFor="let dep of departamentos" value="{{dep.id}}">{{dep.nombre}}
                                        </option>
                                    </select>
                                    <div *ngIf="checkoutForm.controls.department.touched && checkoutForm.controls.department.errors?.required"
                                        class="text text-danger">
                                        El departamento es requerido
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">Municipio/Ciudad</div>
                                    <select name="city" [formControl]="checkoutForm.controls['city']"
                                        [(ngModel)]="usuario.ciudad">
                                        <option *ngFor="let ciudad of ciudades" value="{{ciudad.id}}">{{ciudad.nombre}}
                                        </option>
                                    </select>
                                    <div *ngIf="checkoutForm.controls.city.touched && checkoutForm.controls.city.errors?.required"
                                        class="text text-danger">
                                        La ciudad es requerida
                                    </div>
                                </div> -->
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">Direccion</div>
                                    <input type="text" name="address" [formControl]="checkoutForm.controls['address']"
                                    [(ngModel)]="pedidoVentaOnline.usuario.direccion" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.address.touched && checkoutForm.controls.address.errors?.required"
                                        class="text text-danger">
                                        La direccin es requerida
                                    </div>
                                    <div *ngIf="checkoutForm.controls.address.touched && checkoutForm.controls.address.errors?.maxlength"
                                        class="text text-danger">
                                        maximo 50 character
                                    </div>
                                </div>
                         

                            </div>

                        </div>

                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <div class="checkout-details">
                                <div class="order-box">
                                    <div class="title-box">
                                        <div>Productos <span> Total</span></div>
                                    </div>
                                    <ul class="qty" *ngIf='products.length'>
                                        <li *ngFor="let product of products">
                                            {{ product.nombre }} × {{ product.quantity }}
                                            <span>
                                                {{ product.precio  * product.quantity |
                                                currency:productService?.Currency.currency:'symbol' }}
                                            </span>
                                        </li>
                                    </ul>
                                    <ul class="qty" *ngIf='!products.length'>
                                        <li class="empty-checkout"> No hay productos en el carrito. </li>
                                    </ul>
                                    <ul class="sub-total">
                                        <li>
                                            Subtotal <span class="count">{{ getTotal() |
                                                currency:productService?.Currency.currency:'symbol'}}</span>
                                        </li>
                                        <li *ngIf='products.length'>
                                            Transporte
                                            <div class="shipping">
                                                <div *ngFor="let tpTrsns of tiposTransporte" class="shopping-option">
                                                    <input type="radio" name="shipping" value="{{tpTrsns.id}}" [(ngModel)]="pedidoVentaOnline.transporte" checked="checked" (change)="tipoTransporte($event)">
                                                    <label  for="shipping">{{tpTrsns.nombre}}</label>
                                                </div>
                                            </div>
                                        </li>
                                        <li *ngIf='products.length'>
                                            Metodo De Pago
                                            <div class="shipping">
                                                <div class="shopping-option">
                                                    <input type="radio" name="metodoPago"  value="1" [(ngModel)]="pedidoVentaOnline.metodo_pago" class="col-2">
                                                    <label class="col-auto"  for="metodoPago">Efectivo</label>
                                                    <img style="max-width:54px" class="img-fluid" src="assets/images/icon/dinero.png">
                                                </div>
                                                <div class="shopping-option">
                                                    <input type="radio" value=2 [(ngModel)]="pedidoVentaOnline.metodo_pago" name="metodoPago"  class="col-2">
                                                    <label class="col-auto" for="pseMethod">pse </label>
                                                    <img class="img-fluid" src="assets/images/icon/visa+mastercard.png" style="max-width:100px">
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="total">
                                        <li>Total <span class="count">{{ getTotal() |
                                                currency:productService?.Currency.currency:'symbol'}}</span></li>
                                    </ul>
                                </div>

                                <div class="payment-box" *ngIf='products.length'>
                                    <div class="row">
                                        <div class="col-7">
                                            <div class="upper-box">
                                                <img class="img-fluid" src="assets/images/PagosOnLine.png" alt="" />
                                            </div>
                                        </div>
                                        <div class="text-right col-5">
                                            <button  class="btn-solid btn" [disabled]="!checkoutForm.valid" (click)="realizarPedido()">
                                                Realizar pedido
                                            </button>
                                            <!-- <ngx-paypal [config]="payPalConfig" *ngIf="payment == 'Paypal'"></ngx-paypal> -->
                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>