
<!-- Home slider start-->
<section class="p-0">
    <app-slider [sliders]="sliders" [textClass]="'text-center'" [category]="'watch'" [buttonText]="'Siguiente'"></app-slider>
</section>
<!-- Home slider End -->

<!-- services start-->
<div class="container section-t-space">
    <section class="service border-section small-section">
        <app-services-banner></app-services-banner>
    </section>
</div>
<!-- services End -->



<!-- category -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col">
                <app-collection [categories]="categories" [category]="'watch'"></app-collection>

            </div>
        </div>
    </div>
</section>
<!-- category end -->

<!-- collection banner -->
<section>
    <h1 class="title1">TENDENCIA</h1> <br>
    <div class="container">
        <div class="row partition3">
            <div class="col-md-4" *ngFor="let collection of collections">
                <a [routerLink]="[collection.link]" [queryParams]="{ category: 'watch'}">
                    <div class="collection-banner p-left">
                        <img [src]="collection.image" class="img-fluid" alt="">
                        <div class="contain-banner banner-3" *ngIf="collection.title && collection.text">
                            <div>
                                <h4>{{collection.title}}</h4>
                                <h2>{{collection.text}}</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- collection banner end -->