/* You can add global styles to this file, and also import other style files */
.obli{
  color: red;
  font-size: 18px;
}

.info{
  color: aqua;
  font-size: 18px;
}

.btn-green:hover{
  background-color: rgb(0, 219, 18) !important;
}

.btn-yellow:hover{
  background-color: gold !important;
}

.action:hover{
  cursor: pointer;
}

td:hover{
  cursor: help;
  caret-color: aqua;
}

.row::-webkit-scrollbar {
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
  display: none !important;  /* Ocultar scroll */
}

.uploadImg{
  opacity: 0%;
  width: 100%;
  outline: none;
  position: absolute;
  cursor: pointer;
}

.uploadIcon{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.02);
}

.ngx-dropdown-container[_ngcontent-serverApp-c151] .ngx-dropdown-button[_ngcontent-serverApp-c151]{
  padding: 16px 15px !important;

}

.display-text{
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057d3;
  letter-spacing: 1px;
}

.eje{
  background-color: red !important;
}

