<!-- section start -->
<section class="section-b-space">
  <div class="container">
    <div class="row">
      <!-- INFORME DE VENTAS -->
      <div class="col-lg-9">
        <div class="contact-page register-page">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h3>Informe de ventas</h3>
                <form class="theme-form" [formGroup]="formReporte">
                  <div class="form-row">
                    <!-- MES -->
                    <div class="col-md-4 select_input">
                      <label for="mes">Mes <span class="obli">*</span></label>
                      <select class="form-control" style="padding: 15px;" formControlName="mes" size="1" required>
                        <option disabled selected value>Ingresa el mes</option>
                        <option *ngFor="let mes of meses | keyvalue: null" [value]="mes.key">
                          {{mes.value}}
                        </option>
                      </select>
                    </div>
                    <!-- AÑO -->
                    <div class="col-md-4">
                      <label for="anio">Año <span class="obli">*</span></label>
                      <input type="number" class="form-control" placeholder="Ingresa el año" formControlName="anio"
                        required>
                    </div>
                  </div>
                  <!-- CONSULTAR -->
                  <div class="btn-negocio" style="float: left;">
                    <button class="btn btn-sm btn-solid btn-green" (click)="consultarInforme()">Consultar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- TABLA NEGOCIOS -->
<h3 *ngIf="informeNegocios.total"
  class="title mb-4 text-center mb-4 animate__animated animate__lightSpeedInRight animate__slower">
  <strong><i><u>Total acumulado</u> - ${{informeNegocios.total | number}}</i></strong>
</h3>
<section class="m-2 section-b-space wishlist-section animate__animated animate__slideInUp animate__slower"
  *ngFor="let informe of informeNegocios.negocios, let i = index" >
  <div class="row">
    <h3 class="title mb-4"> <i>{{informe.negocio.nombre}} - ${{informe.total | number}} </i> </h3>
    <div class="col-sm-12 table-negocio" style="overflow-x:auto;" *ngIf="num(informe.total) > 0">
      <table class="table cart-table table-responsive-xs">
        <thead>
          <tr class="table-head">
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of informe.productos">
            <!-- NOMBRE -->
            <td style="max-width: 1px; word-wrap: break-word;">
              <p>
                {{producto.producto}}
              </p>
            </td>
            <!-- UNIDADES VENDIDAS -->
            <td style="max-width: 1px; word-wrap: break-word;">
              <p>
                {{producto.unidadesVendidas | number}}
              </p>
            </td>
            <!-- VALOR -->
            <td style="max-width: 1px; word-wrap: break-word;">
              <p>
                <strong>${{producto.valorTotal | number}}</strong>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
